<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eat}}">
		{{#if sleep}}eating time!{{else}}no eat time!{{/if}}
	</button>
	<button class="burger-delete" data-id="{{id}}">DELETE!</button>
</li>
